$text-primary : #f1f1f1;
$text-secondary : #0f0f0f;
$text-ternary : #3EA6FF;
$text-quaternary : #aaa;
$text-footer: rgb(113, 113, 113);
$link-primary: rgb(170, 170, 170);
$background-primary : #0F0F0F;
$background-secondary : rgba(255, 255, 255, 0.08);
$border-primary : #3E3E3E;
$border-secondary: rgb(48, 48, 48);
$border-focus: rgb(28, 98, 185);
$border-bottom-color: rgba(255, 255, 255, 0.2);
$icon-size : 24px;
$layout-padding-size : 2rem;
$main-margin : 56px;

$media-sidebar-second-size : 1440px;
$media-sidebar-thrid-size : 800px;
$media-disappear-searchbar-size: 657px;
$media-narrow-sideber-size: 1312px;
$media-disappear-sidebar-size: 791px;
$media-disappear-logo-size: 810px;
$media-disappear-banner-size: 695px;

$icon-background: rgba(255, 255, 255, 0.1);
$icon-background-highlighted: rgb(241, 241, 241);